{% extends 'maker/base.html' %}
{% load widget_tweaks %}

{% block content %}
  {% if schema %}
    <H1>{{ schema.name }}
      <a class="btn btn-primary"
         href="{% url 'schema_edit' pk=schema.pk %}"
      ><span class="fa fa-pencil"></span></a>
      <a class="btn btn-primary"
         href="{% url 'schema_remove' pk=schema.pk %}"
      ><span class="fa fa-remove"></span></a>
    </H1>
    <p>column separator:
      <span class="btn btn-default">({{ schema.column_separator }})</span></p>
    <p>string character:
      <span class="btn btn-default">({{ schema.string_character }})</span>
    </p>
    <p>{{ schema.author }}, {{ schema.modified }}</p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <H2>Columns</H2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Order</th>
        <th scope="col">Scope</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for column in schema.column_set.all %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <th scope="row">{{ column.name }}</th>
          <td>{{ column.type }}</td>
          <td>Order: {{ column.order }}</td>
          <td>
            {% if column.start and column.end %}
              {{ column.start }} - {{ column.end }}
            {% endif %}
          </td>
          <td>
            <a class="btn btn-primary"
               href="{% url 'column_edit' pk=column.pk %}"
            ><span class="fa fa-pencil"></span></a>
            <a class="btn btn-primary"
               href="{% url 'column_remove' pk=column.pk %}"
            ><span class="fa fa-remove"></span></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <br>
    <a class="btn btn-primary btn-comment" href="{% url 'add_column_to_schema' pk=schema.pk %}">Add column</a>
    <div class="container"></div>
  {% else %}
    <p>No schema.</p>
  {% endif %}
{% endblock %}